.new_pers {
    /*position: absolute;
    left: 600px;
     left: 50%;
    margin-left: -86px; /*it's a half of the form width */
}
#forms div{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
